

nav{
    background-color:#FEEAE9;
    color: goldenrod;
}
hr.new5 {
    border: 1px solid red;
    
  }

  .alert{
      text-align: center;
      font-size: 40px;
      background-color: goldenrod;
  }

  .txtb{
      height: 300px;
      background-color: #F8F9FA;
      font-size: 25px;
      font-family: Roboto;
      color: goldenrod;
  }

  .col-md-7{
      text-align: center;
      margin-top: 250px;
      color: goldenrod;
  }

  .carousel-inner{
      background-color: #FEEAE9;
  }